/*----------------------------------------------
                                               -
JLin                                           -
                                               -
Date: 2021/03/17                               -
                                               -
update：2023/10/9                              -
                                               -
https://bsgun.cn 【写作不易】                  -
                                               -
看见这个我希望你能够留下我信息                 -
                                               -
-----------------------------------------------*/
* {
     margin:0;
     padding:0;
}
 .logo {
     height: 290px;
     background: url(../img/LOGO.gif) no-repeat center;
     background-size: 675px 325px;
}
 .search_form {
     max-width: 60rem;
     width: calc(100% - 20px);
     margin: auto;
}
 .search-input-text {
     width: 100%;
     height: 3.5em;
     display: block;
     border: 1px solid #ddd;
     -webkit-appearance: none;
     border-radius: 50px;
     line-height: 100%;
     font-size: 19px;
     text-indent: 65px;
     outline: 0;
     transition: all .2s;
}
 .search-input-text:focus {
     box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
     -webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
     border-color: #fff;
}
 form {
     margin: auto;
     position: relative;
}
 .lg {
     width: 3em;
     height: 3em;
     position: absolute;
     left: 12px;
     top: 12px;
     border-radius: 50%;
     background: url(../img/baidu.svg)no-repeat center/cover;
   	 transition: all .2s;
}
 .search-input-button {
     position: absolute;
     right: 10px;
     top: 10px;
     background: none;
     border: none;
     outline: 0;
     font-size: 2rem;
   	 transition: all .2s;
}
 .HuuH {
     position: fixed;
     bottom: 0;
     right: 0;
     width: 300px;
     height: 300px;
     background: url(../img/HUH.webp);
}
 .icp {
     color: #ccc;
     margin: 10px 0 0;
     font-size: 11px;
}
 footer a {
     font-size: 12px;
     color: #a6a6a6;
     margin: 0 6px;
}
 footer a:hover {
     color: #1f1f1f;
}
 .footer-nav {
     position: absolute;
     left: 5%;
     bottom: 0;
     z-index: -999;
     text-align: center;
     width: 90%;
}
 .guoqi {
     width: 48px;
     height: 30px;
     background-image: url(../img/5x.png);
     margin: 10px auto;
     background-size: cover;
}
 @media (max-width:768px) {
     .HuuH{
         display: none!important;
    }
     .logo {
         background-size: 90%!important;
    }
     form {
         height: 180px!important;
       	 background: #fff!important;
    }
     .search-input-text {
         border-style: solid!important;
         border-width: 1px!important;
         border-color: #ddd!important;
         border-image-repeat: initial!important;
         text-indent: 45px!important;
         height: 2.5em!important;
    }
     .lg {
         width: 2em!important;
         height: 2em!important;
         left: 10px!important;
         top: 10px!important;
    }
     .search-input-button {
         top: 0px!important;
         width: 1.6em!important;
         height: 1.6em!important;
    }
}
 @media (max-height:400px) {
     .logo {
         background-size: 65%!important;
         height: 260px!important;
         transition: all .3s!important;
    }
}
 @media (max-height:500px) {
     footer {
         display: none!important;
    }
}
 @media (max-height:600px) {
     form {
         height: 1000px!important;
    }
}
 @media (prefers-color-scheme:dark) {
     html {
         background: #fff!important;
         filter: brightness(.8)!important;
         -webkit-filter: brightness(.8)!important;
    }
}
 